@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/* 設置變量 */
:root {
    --main-font: "Noto Sans TC", sans-serif;
    --primary-color: #104951;
    --secondary-color: #1d3cb9;
    --text-color: #E4EEF7;
    --link-color: #EF5095;
    --link-hover-color: #048FC1;
    --navigation-bg: #929292;
    --tabs-border: #aaaaaa;
    --tabs-bg: rgba(172,217,224,0.6);
}

/* body */
body {
    font-family: var(--main-font);
    background: #fff;
    margin: 0;
    text-align: center;
    -webkit-text-size-adjust: 100%;
}

/* 區塊設定 */
header {
    background: var(--primary-color);
    padding-top: 10px;
}
main {
    background-image: url(raining.jpg);
    padding: 30px;
    font-size: 16px;
    line-height: 2em;
    color: #ffffff;
}
footer {
    background: var(--secondary-color);
    padding: 10px;
    font-size: 14px;
    color: var(--text-color);
}

/* 網站標題 */
h1 {
    font-size: 28px;
    color: var(--text-color);
    font-weight: bold;
}

/* 標題 */
h2 {
    font-size: 16px;
    color: var(--text-color);
    font-weight: normal;
}
h3 {
    font-size: 14px;
    color: var(--text-color);
    font-weight: normal;
}

/* 超連結 */
a {
    color: var(--link-color);
}
a:hover, a:focus {
    color: var(--link-hover-color);
    text-decoration: none;
}

/* 導覽列 */
.navigation ul {
    background: var(--navigation-bg); /* 設定背景色 */
    margin: 0;
    padding: 5px;
    text-align: center;
    list-style-type: none;
}
.navigation ul li {
    display: inline;
    margin: 0 8px;
}
.navigation ul li a {
    color: #ffffff; /* 導覽列超連結文字顏色設為白色 */
    text-decoration: none; /* 移除底線 */

}
.navigation ul li a:hover {
    color: #b7e862;
    text-decoration: underline;
}

/* Tabs */
#tabs {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.ui-widget-content {
    border: 1px solid var(--tabs-border);
    background: var(--tabs-bg);
    color: #222222;
}

/* 父容器樣式 */
.image {
    text-align: center;
}

/* 圖片樣式 */
.image img {
    max-width: 400px; /* 設定圖片的最大寬度 */
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: inline-block;
    border-radius: 10px;
}
